<button (click)="mostraCognomiUtenti = !mostraCognomiUtenti">Mostra/Nascondi cognomi</button>
Mostra cognomi: {{mostraCognomiUtenti}}
<div *ngFor="let u of utenti">
  <app-utente [user]="u" [mostraCognome]="mostraCognomiUtenti" ></app-utente>
</div>

<div *ngFor="let u of utenti">
  <app-utente [user]="u" *ngIf="u.eta >= 18"></app-utente>
  <div *ngIf="u.eta < 18">Utente {{u.nome}} non visualizzato completamente perchè minorenne</div>
</div>

{{utente.nome}}
<app-uppercaser [(testo)]="utente.nome"></app-uppercaser>
<app-lowercaser [(testo)]="utente.nome"></app-lowercaser>


<app-panel>
  ciao, sono il contenuto del primo pannello.
</app-panel>

<app-panel>
  ed io sono il contenuto del secondo pannello.
</app-panel>

<app-panel2>
  <div class = "uno">il contenuto del pannello</div>
  <div class = "due">il contenuto del sotto-pannello</div>
</app-panel2>


<button (click)="distruggi = !distruggi">toogle</button>
<app-test-ciclo [testo]="'ciao'" ></app-test-ciclo>
